<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZENVOGUE</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
   body {
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.receipt-main {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.receipt-header {
  display: flex;
  justify-content: space-between;
}

.receipt-left h3 {
  margin: 0;
  color: #333;
}

.receipt-right h5 {
  font-weight: 900;
  color: #f30d0d;
  margin: 5px 0;
}

.receipt-right p {
  margin: 5px 0;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-danger {
  color: #d9534f;
}

.receipt-footer {
  margin-top: 20px;
}

@media print {
  body {
    visibility: hidden;
  }

  .receipt-main, .receipt-main * {
    visibility: visible;
  }

  .receipt-main {
    position: absolute;
    left: 0;
    top: 0;
  }
}

    
  </style>
  <body>
    <div class="col-md-12">
      <div class="row">
        <div
          class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
          <div class="row">
            <div class="receipt-header">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="receipt-left">
                  <h3>ORDER ID #<%= order._id %></h3>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <div class="receipt-right">
                  <h5 style="font-weight: 900">

                    <span class="CLOC" style="color: #f30d0d; font-family: Helvetica">ZEN-</span><span class="ksy"
                    style="color: #000000; font-family: Times New Roman">VOGUE</span>
                    </h5>
                  <p>+91 8129112776<i class="fa fa-phone"></i></p>
                  <p>zenvogue@gmail.com<i class="fa fa-envelope-o"></i></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="receipt-header receipt-header-mid">
              <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                <div class="receipt-right">
                  <h5><%= order.user.name %></h5>
                  <p><b>Mobile :</b><%= order.user.mobile %></p>
                  <p><b>Email :</b><%= order.user.email %></p>
                  
                  <p>
                    <b>Order Date :</b><%=
                    order.Date.toLocaleDateString('en-US', { year:
                    'numeric', month: 'short', day: '2-digit' }).replace(/\//g,
                    '-')%>
                  </p>
                  <p><b>Payment Method :</b><%= order.paymentmethod %></p>
                  <p><b>Address :</b><%= order.deliveryDetails.address %> <br>
                    <%= order.deliveryDetails.city %> <br><%= order.deliveryDetails.pin %> <br>
                    <%= order.deliveryDetails.mobile %>.
                </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
               <% if(order.product.length > 0){ %>
                <% order.product.forEach((orders,i)=>{ %>

                    <tr>
                        <td class="col-md-9"><%= i + 1 %></td>
                        <td class="col-md-9"><%=orders.productId.name %></td>
                        <td class="col-md-9"><%= orders.quantity%></td>
                        <td class="col-md-9"><i class="fa fa-inr"></i>₹ <%= orders.productId.price%></td>
                        <td class="col-md-9">₹ <%= orders.quantity*orders.productId.price%></td>
                        <% }); } %>
                      </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right col-md-9">
                    <% if(order.product.length > 0){ %>
                      <% order.product.forEach((orders,i)=>{ %>
                    <% let totalPrice = orders.quantity * orders.productId.price %>
                    <% console.log('Product Price:', totalPrice); %>
                    <% console.log('subtotal Price:',order.subtotal ); %>

                    <% let discountAmount = totalPrice - order.subtotal %>

                      <h4>Discount Amount: <%= discountAmount %></h4>
                      <% }); } %>
                    <br>
                    <br>
                  <h2 style="margin-top: 5px"><strong>Total : </strong></h2>
                  </td>
                  <td class="text-left text-danger">
                    <h4><i class="fa fa-inr"></i>₹ <%=order.subtotal %>.00/-</h4>
                    <h2>
                        <br>
                      <strong style="white-space: nowrap;"
                        ><i class="fa fa-inr"></i>₹ <%= order.subtotal %>.00/-</strong>
                    </h2>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="receipt-header receipt-header-mid receipt-footer">
              <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                <div class="receipt-right">
                  <p>
                    <b>Date :</b><%= date.toLocaleDateString('en-US', { year:
                    'numeric', month: 'short', day: '2-digit' }).replace(/\//g,
                    '-') %>
                  </p>
                  <h5 style="color: rgb(140, 140, 140)">
                    Thanks for shopping...
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>