<%- include("../layouts/userpartials/header.ejs") %>
<style>
    .addtocartbutton{
       background-color: #ee4266;
    }
</style>
<div class="site-section">
    <div class="container" id="reloadDiv">

    <% if(wishlist.product.length > 0){ %>

      <div class="row mb-5" >
        <form class="col-md-12" method="post">
          <div class="site-blocks-table"  >
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-status">Status</th>
                  <th ></th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody >
                <div >
                <% wishlist.product.forEach(function(product){ %>
                <tr>
                  <td class="product-thumbnail" >
                    <% if (product.productId && product.productId.Image) { %>
                      <img src="/public/proImage/<%- product.productId.Image[0] %>" alt="Image" class="img-fluid"> <% } %>                    <h2 class="h5 text-black">
                    </h2>
                    
                  </td>
                  <td>
                    <span><%= product.productId.name %></span>
                  </td>
                  <td>
                    ₹ <span id="price_"><%= product.productId.price %></span>
                  </td>
                  <td>
                    <span><%= (product.productId.quantity == 0) ? "Out Of Stock" :"Stock Is Available" %></span>
                  </td>
                  <td><a href="#" class="btn btn-primary height-auto btn-sm" onclick="addToCart('<%= product.productId._id %>')">ADD TO CART</a></td>

                  
                  <td><a href="#" class="btn btn-primary height-auto btn-sm" onclick="removecart('<%= product.productId._id %>','<%= wishlist.user %>')">X</a></td>
                </tr>
                <tr>
                </div>
              <%  }) %>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    <% } else { %>

      <h3> Your Wishlist Is Empty</h3>
      <% } %>
      <div class="row mb-5">
        <div class="col-md-6">
          <button class="btn btn-outline-primary btn-sm btn-block"><a href="/shop">Continue Shopping</a></button>
        </div>
      </div>
  
      <script>
        // Add to Cart
        function addToCart(id) {
      console.log(id);
      $.ajax({
        url: "/cart",
        method: "post",
        dataType: "json", // Specify that you expect JSON in the response
        data: {
          productId: id, // Use "productId" as the key to match the server-side code
        },
      })
        .done((data) => {
          if (data.success) {
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Product added to cart",
              showConfirmButton: false,
              timer: 1500,
            });
          } else {
            if (data.redirectToLogin) {
              window.location.href = '/login';
            } else {
              // Handle other failure scenarios
              console.error('Failed to add the product to the cart:', data.error);
            }
          }
        })
        .fail((xhr, status, error) => {
          console.error('An error occurred during the add to cart process:', error);
        });
    }


        // remove 
        function removecart(productid, userid) {
          console.log("the id for removing ", productid, userid)
      
          $.ajax({
            url: "/removewishlist",
            method: 'post',
            encoded: true,
            data:
             {
              proid: productid,
              ID: userid
            },
            success: (response) => {
              if(response.success){
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Removed from  Wishlist",
                  showConfirmButton: false,
                   timer: 1500,
                })
                $('#reloadDiv').load('/wishlist #reloadDiv');
              }
            }
          })
        }
      </script>



<%- include("../layouts/userpartials/footer.ejs") %>

